*.iml
.gradle
/local.properties
/.idea
.DS_Store
**build
/captures
.externalNativeBuild
.cxx
local.properties
jks
navigation-test
navigation-test2
tabbed-test
fragment-test
detail-flow-test
scrolling-test
test/
gradle-plugin
**/bakApk/**
